---
import { getEntry } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import type { GetStaticPaths } from "astro"
import { getCollection } from "astro:content"
import { Problem } from "../../components/Problem"

const { id } = Astro.params
if (id === undefined) {
  throw new Error("ID is required")
}

const entry = await getEntry("problems", id)

if (entry === undefined) {
  return Astro.rewrite("/404")
}

const { Content } = await entry.render()

export const getStaticPaths = (async () => {
  const problems = await getCollection("problems")
  return problems.map((entry) => ({
    params: { id: entry.slug },
  }))
}) satisfies GetStaticPaths
---

<Layout title={`Problem ${entry.slug}`} width="w-[56rem]">
  <h1 class="mt-8 border-b border-z pb-2 text-2xl font-bold text-z-heading">
    Problem {entry.slug}
    (<a href="/problems" class="text-z-link underline underline-offset-2"
      >or go back</a
    >)
  </h1>

  <div class="x my-12 font-mono text-xl text-z">
    <Content />
  </div>

  <div class="contents text-xl">
    <Problem
      functionName={entry.data.functionName}
      params={entry.data.params}
      tests={Object.fromEntries(entry.data.tests)}
      client:load
    />
  </div>
</Layout>
